/*
THIS IS CURSED
do not uncomment
* {
    font-family: "Comic Sans MS" !important;
}
*/

:root {
    --main-black-color: #000000;
    --alt-black-color: #0A0A0A;
    --main-darkgray-color: #0F0F0F;
    --alt-darkgray-color: #0C0C0C;
    --link-color: #50F148;
    --mention-color: #9c4249;
    --accent-color: #6F2F31;
    --mention-bg-color: rgba(156, 66, 73,.1);
    --jump-to-present-color: rgba(15, 15, 15, .95);
    --new-messages-color: rgba(15,15,15,.95);
    --light-hover-color: rgba(25, 25, 25, .5);
    --dark-hover-color: rgba(5, 5, 5, .5);
    --embed-bg-color: rgba(25, 25, 25, .5);
    --send-message-box-color: rgba(80, 80, 80, .1);
    --code-font: "Roboto Mono", "PragmataPro", "Noto Sans Mono", "Courier New", monospace;
  }
  
  /* "Channel notices" such as "Ctrl+K to use QS :3" */
  [class*="channelNotices-"] [class*="channelNotice-"] [class*="message-"] [class*="btn-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* notif setting colors */
  [class*="radioGroup-"] [style*="color: rgb(114, 137, 218)"] {
      background-color: var(--accent-color) !important;
      border: none !important;
  }
  
  [class*="radioGroup-"] [class*="cardPrimaryEditable-"],
  [class*="radioGroup-"] [class*="checkbox-"] {
      border: none !important;
  }
  
  [class*="radioGroup-"] [class*="checkbox-"] polyline {
      stroke: white !important;
  }
  
  /* disable checkboxes on notif settings */
  [class*="radioGroup-"] [class*="checkbox-"] {
      display: none !important;
  }
  
  /* "you must be a member for x to talk here" */
  [class*="spacer-"] form [class*="wrapper-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* reactors modal */
  [class*="reactors-"],
  [class*="modal-"] [class*="sidebar-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  [class*="reactionSelected-"] {
      background-color: var(--light-hover-color) !important;
  }
  
  /* header bar for friends */
  [class*="headerBar-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* actual friends view */
  .container-3gCOGc {
      background-color: var(--main-black-color) !important;
  }
  
  /* friends list hover */
  [class*="friendsTable-"] [class*="friendsRow-"]:hover {
      background: var(--light-hover-color) !important;
  }
  
  [class*="friendsTable-"] [class*="friendsRow-"] [class*="friendsColumnActions-"] [class*="friendsAction-"] {
      background-color: var(--light-hover-color) !important;
  }
  
  /* dropdown menu */
  [role="dialog"] [class*="menu-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* main container, fixes a couple pixels */
  .container-2lgZY8 {
      background-color: var(--main-black-color) !important;
  }
  
  /* chat, fixes a couple pixels */
  [class*="chat-"] {
      background-color: var(--main-black-color) !important;
  }
  
  /* widen the chatbox */
  [class*="chat-"] form {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
  
  /* body, fixes a couple pixels */
  body {
      background-color: var(--main-black-color) !important;
  }
  
  /* loading screen */
  .container-16j22k {
      background-color: var(--main-black-color) !important;
  }
  
  /* sidebar selections on settings */
  [class*="side-"] [class*="itemSelected-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Blurple buttons */
  [class*="lookFilled-"][class*="colorBrand-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Green buttons */
  [class*="lookFilled-"][class*="colorGreen-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Blurple on/off switches */
  [class*="valueChecked-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* discord button on top left */
  [class*="guild-"] [style*="color: rgb(114, 137, 218)"] {
      background-color: var(--accent-color) !important;
  }
  
  /* blurple on white */
  [class*="lookInverted-"][class*="colorBrand-"] {
      color: var(--accent-color) !important;
  }
  
  /* "Playing a game" on profiles */
  [class*="headerPlaying-"],
  [class*="topSectionPlaying"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Discord Nitro thingy in settings */
  [class*="side-"] [style*="color: rgb(114, 137, 218)"] {
      color: #b9bbbe !important;
  }
  
  [class*="side-"] [style*="color: rgb(114, 137, 218)"]:hover {
      background-color: var(--light-hover-color) !important;
  }
  
  [class*="side-"] [style*="color: rgb(114, 137, 218)"]:before {
      content: "(do not buy) " !important;
  }
  
  /* HypeSquad */
  [class*="side-"] :nth-child(9):before {
      content: "(bootlickers) " !important;
  }
  
  /* reactors modal */
  [class*="reactors-"],
  [class*="modal-"] [class*="sidebar-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  [class*="reactionSelected-"] {
      background-color: var(--light-hover-color) !important;
  }
  
  /* header bar for friends */
  [class*="headerBar-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* actual friends view */
  .container-3gCOGc {
      background-color: var(--main-black-color) !important;
  }
  
  /* friends list hover */
  [class*="friendsTable-"] [class*="friendsRow-"]:hover {
      background: var(--light-hover-color) !important;
  }
  
  [class*="friendsTable-"] [class*="friendsRow-"] [class*="friendsColumnActions-"] [class*="friendsAction-"] {
      background-color: var(--light-hover-color) !important;
  }
  
  /* dropdown menu */
  [role="dialog"] [class*="menu-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* main container, fixes a couple pixels */
  .container-2lgZY8 {
      background-color: var(--main-black-color) !important;
  }
  
  /* chat, fixes a couple pixels */
  [class*="chat-"] {
      background-color: var(--main-black-color) !important;
  }
  
  /* widen the chatbox */
  [class*="chat-"] form {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
  
  /* body, fixes a couple pixels */
  body {
      background-color: var(--main-black-color) !important;
  }
  
  /* loading screen */
  .container-16j22k {
      background-color: var(--main-black-color) !important;
  }
  
  /* sidebar selections on settings */
  [class*="side-"] [class*="itemSelected-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Blurple buttons */
  [class*="lookFilled-"][class*="colorBrand-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Green buttons */
  [class*="lookFilled-"][class*="colorGreen-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Blurple on/off switches */
  [class*="valueChecked-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* discord button on top left */
  [class*="guild-"] [style*="color: rgb(114, 137, 218)"] {
      background-color: var(--accent-color) !important;
  }
  
  /* blurple on white */
  [class*="lookInverted-"][class*="colorBrand-"] {
      color: var(--accent-color) !important;
  }
  
  /* "Playing a game" on profiles */
  [class*="headerPlaying-"],
  [class*="topSectionPlaying"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Discord Nitro thingy in settings */
  [class*="side-"] [style*="color: rgb(114, 137, 218)"] {
      color: #b9bbbe !important;
  }
  
  [class*="side-"] [style*="color: rgb(114, 137, 218)"]:hover {
      background-color: var(--light-hover-color) !important;
  }
  
  [class*="side-"] [style*="color: rgb(114, 137, 218)"]:before {
      content: "(do not buy) " !important;
  }
  
  [class*="side-"] :nth-child(9):before {
      content: "(bootlickers) " !important;
  }
  
  /* reactors modal */
  [class*="reactors-"],
  [class*="modal-"] [class*="sidebar-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  [class*="reactionSelected-"] {
      background-color: var(--light-hover-color) !important;
  }
  
  /* header bar for friends */
  [class*="headerBar-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* actual friends view */
  .container-3gCOGc {
      background-color: var(--main-black-color) !important;
  }
  
  /* friends list hover */
  [class*="friendsTable-"] [class*="friendsRow-"]:hover {
      background: var(--light-hover-color) !important;
  }
  
  [class*="friendsTable-"] [class*="friendsRow-"] [class*="friendsColumnActions-"] [class*="friendsAction-"] {
      background-color: var(--light-hover-color) !important;
  }
  
  /* dropdown menu */
  [role="dialog"] [class*="menu-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* main container, fixes a couple pixels */
  .container-2lgZY8 {
      background-color: var(--main-black-color) !important;
  }
  
  /* chat, fixes a couple pixels */
  [class*="chat-"] {
      background-color: var(--main-black-color) !important;
  }
  
  /* widen the chatbox */
  [class*="chat-"] form {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
  
  /* body, fixes a couple pixels */
  body {
      background-color: var(--main-black-color) !important;
  }
  
  /* loading screen */
  .container-16j22k {
      background-color: var(--main-black-color) !important;
  }
  
  /* sidebar selections on settings */
  [class*="side-"] [class*="itemSelected-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Blurple buttons */
  [class*="lookFilled-"][class*="colorBrand-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Green buttons */
  [class*="lookFilled-"][class*="colorGreen-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Blurple on/off switches */
  [class*="valueChecked-"] {
      background-color: var(--accent-color) !important;
  }
  
  /* discord button on top left */
  [class*="guild-"] [style*="color: rgb(114, 137, 218)"] {
      background-color: var(--accent-color) !important;
  }
  
  /* blurple on white */
  [class*="lookInverted-"][class*="colorBrand-"] {
      color: var(--accent-color) !important;
  }
  
  /* "Playing a game" on profiles */
  [class*="headerPlaying-"],
  [class*="topSectionPlaying"] {
      background-color: var(--accent-color) !important;
  }
  
  /* Discord Nitro thingy in settings */
  [class*="side-"] [style*="color: rgb(114, 137, 218)"] {
      color: #b9bbbe !important;
  }
  
  [class*="side-"] [style*="color: rgb(114, 137, 218)"]:hover {
      background-color: var(--light-hover-color) !important;
  }
  
  [class*="side-"] [style*="color: rgb(114, 137, 218)"]:before {
      content: "(do not buy) " !important;
  }
  
  [class*="side-"] :nth-child(9):before {
      content: "(bootlickers) " !important;
  }
  
  /* divider between attach button and chat box */
  [class*="attachButtonDivider-"] {
      display: none !important;
  }
  
  /* Bot tag */
  [class*="botTagRegular-"] {
      background-color: var(--mention-color) !important;
  }
  
  /* "cards" on settings, these things https://elixi.re/i/rnwghztz.png */
  [class*="cardPrimary-"],
  [class*="codeRedemptionRedirect-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* connect account buttons */
  [class*="accountBtnInner-"] {
      background-color: var(--main-black-color) !important;
      border: none !important;
  }
  
  /* set nitro thingy's footer https://elixi.re/i/77erodhv.png */
  [class*="details-"] [class*="container-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* delete popup's footer */
  [class*="modal-"] [class*="footer-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* Pins and mentions */
  [class*="messagesPopoutWrap-"] {
      background-color: var(--main-darkgray-color) !important;
      border: none !important;
      box-shadow: none !important;
  }
  
  [class*="messagesPopoutWrap-"] [class*="header-"],
  [class*="messagesPopoutWrap-"] [class*="footer-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  [class*="messageGroupWrapper-"] {
      background-color: var(--main-darkgray-color) !important;
      border-color: var(--alt-black-color) !important;
  }
  
  [class*="messageGroupWrapper-"]:hover [class*="actionButtons-"] {
      box-shadow: none !important;
      background: inherit !important;
  }
  
  /* popout user profile */
  [class*="userPopout-"] [class*="headerNormal-"]{
      background-color: var(--alt-darkgray-color) !important;
  }
  
  [class*="quickMessage-"] {
      background-color: var(--alt-darkgray-color) !important;
      border: none !important;
  }
  
  [class*="userPopout-"] [class*="footer-"],
  .body-3iLsc4 {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* full user profile */
  .body-3ND3kc,
  [class*="topSectionNormal-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  [class*="listRow-"]:hover {
      background: var(--light-hover-color) !important;
  }
  
  /* Custom link color */
  [class*="markup-"] a {
      color: var(--link-color) !important;
  }
  
  /* Custom mention color */
  [class*="topic-"] [class*="wrapper-"],
  [class*="medium-"] [class*="wrapper-"],
  [class*="markup-"] [class*="wrapper-"] {
      color: var(--mention-color) !important;
      background-color: var(--mention-bg-color) !important;
  }
  
  [class*="topic-"] [class*="wrapperHover-"]:hover,
  [class*="medium-"] [class*="wrapperHover-"]:hover,
  [class*="markup-"] [class*="wrapperHover-"]:hover {
      color: #fff !important;
      background-color: var(--mention-color) !important;
  }
  
  [class*="isMentioned-"] {
      background-color: var(--mention-bg-color) !important;
  }
  
  [class*="isMentionedCozy-"]:after {
      background: var(--mention-bg-color) !important;
      border-left-color: var(--mention-color) !important;
  }
  
  /* Search results */
  [class*="searchResultsWrap-"],
  [class*="searchResultsWrap-"] [class*="searchHeader-"],
  [class*="channelSeparator-"] [class*="channelName-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  [class*="searchResult-"]:before,
  [class*="searchResult-"]:after {
      background: none !important;
  }
  
  [class*="searchResult-"] [class*="hit-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  [class*="searchResult-"] [class*="searchResultMessage-"][class*="hit-"] {
      border: none !important;
      box-shadow: none !important;
  }
  
  /* search highlight color */
  .highlight {
      background: var(--mention-color) !important;
  }
  
  /* search filters */
  [class*="searchFilter-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* "Jump" button on search results */
  [class*="jumpButton-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* embeds */
  [class*="embedInner-"] {
      background-color: var(--embed-bg-color) !important;
      border: none !important;
  }
  
  /* emoji picker */
  [class*="emojiPicker-"],
  [class*="emojiPicker-"] [class*="searchBar-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* Background of hovered emoji on picker */
  [class*="emojiItem-"][class*="selected-"] {
      background-color: var(--light-hover-color) !important;
  }
  
  /* search bar on emoji picker */
  [class*="emojiPicker-"] [class*="searchBar-"] [class*="searchBarInner-"] {
      background: inherit !important;
  }
  
  /* emoji picker scrollbar */
  div[class^="diversitySelector"] > div[class^="popout-"]::-webkit-scrollbar-track,
  div[class^="diversitySelector"] > div[class^="popout-"]::-webkit-scrollbar-track-piece {
      background-color: transparent !important;
      border: none !important;
  }
  
  div[class^="diversitySelector"] > div[class^="popout-"]::-webkit-scrollbar-thumb {
      background-color: var(--main-black-color) !important;
      border: none !important;
  }
  
  /* gradient on search complete thing */
  .option-96V44q:after {  /* TODO: use a selector here */
      background: none !important;
  }
  
  /* delete message modal */
  [class*="modal-"] [class*="inner-"] [class*="modal-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  [class*="modal-"] [class*="scrollerWrap-"] [class*="scroller-"] [class*="message-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* settings */
  [class*="standardSidebarView-"] [class*="sidebarRegion-"] {
      background-color: var(--main-black-color) !important;
  }
  
  [class*="standardSidebarView-"] [class*="contentRegion-"] {
      background-color: var(--main-black-color) !important;
  }
  
  /* emoji picker */
  [class*="emojiPicker-"] [class*="header-"],
  [class*="emojiPicker-"] [class*="scroller-"] [class*="stickyHeader-"] {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* message dropdown */
  [class*="popout-"] [class*="container-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  [class*="popout-"] [class*="container-"] [class*="item-"]:hover {
      background-color: var(--dark-hover-color) !important;
  }
  
  /* guild icon hover tooltip */
  .tooltip.tooltip-black {
      background-color: var(--main-darkgray-color) !important;
  }
  
  /* call screen */
  [class*="video-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  /* hover on friends on friends screen */
  #friends .friends-table .friends-row:hover
  {
      background-color: var(--light-hover-color) !important;
  }
  
  /* hover on buttons on friends screen */
  #friends .tab-bar .tab-bar-item:hover:not(.selected)
  {
      background-color: var(--light-hover-color) !important;
  }
  
  /* server members, server invites, server bans */
  [class*="member-"]::before,
  [class*="inviteSettingsInviteRow-"]::before,
  [class*="guild-settings-banned-user"]::before {
      background-color: var(--main-darkgray-color) !important;
      border-color: var(--main-black-color) !important;
  }
  
  /* hover on settings dropdown */
  .popoutbottom [class*="item-"]:hover {
      background-color: var(--dark-hover-color) !important;
  }
  
  /* role add autocomplete popout */
  #autocomplete-popout .autocomplete-header-background {
      background-color: var(--main-black-color) !important;
  }
  
  #autocomplete-popout .row {
      background: var(--main-black-color) !important;
  }
  
  #autocomplete-popout .row.selected {
      background: var(--main-darkgray-color) !important;
  }
  
  /* online/away/dnd/invisible menu */
  .popouttop-left [class*="menu-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  .popouttop-left [class*="menu-"] [class*="item-"]:hover {
      background-color: var(--dark-hover-color) !important;
  }
  
  /* Reduce username size by 10% */
  [class*="headerCozyMeta-"] span [class*="username-"] {
      font-size: 0.95rem !important;
  }
  
  /* "an adventure begins" */
  [class*="channelNotice-"]
  {
      background-color: var(--main-black-color) !important;
  }
  
  /* hover on quick invite */
  [class*="inviteRow-"]:hover {
      background-color: var(--light-hover-color) !important;
  }
  
  /* hover on friends on "Add friends to DM" */
  [class*="friendSelected-"] {
      background-color: var(--light-hover-color) !important;
  }
  
  /* main discord bg, fixes a couple pixels */
  [class*="layer-"],
  [class*="layers-"],
  [class*="appMount-"] {
      background: var(--main-black-color) !important;
      background-color: var(--main-black-color) !important;
  }
  
  /* top of chatbox */
  [class*="channelTextArea-"] {
      border-top:none !important;
  }
  
  /* left guild bar */
  [class*="guildsWrapper-"] {
      background-color: var(--main-black-color) !important;
  }
  
  /* channel bar */
  [class*="channels-"] [class*="container-"] {
      background-color: var(--main-black-color) !important;
  }
  
  /* dirty hack to fix channel list */
  [class*="unreadBottom-"],
  [class*="unreadTop-"] {
      display: none !important;
  }
  
  /* search bar over dms */
  .search .search-bar {
      background-color: var(--main-black-color) !important;
  }
  
  /* search and dms userlist background */
  [class*="privateChannels-"],
  [class*="privateChannels-"] [class*="searchBar-"],
  .friends-table-header,
  #friends,
  [class*="channels-"],
  #friends [class*="headerBar-"],
  .friends-table [class*="scrollerThemed-"] {
      background-color: var(--main-black-color) !important;
  }
  
  /* search bar */
  [class*="header-"] .search-bar,
  .search-bar-inner {
      background-color: var(--alt-darkgray-color) !important;
  }
  
  /* title bar on guild */
  [class*="titleWrapper-"] [class*="title-"] {
      background-color: var(--main-black-color) !important;
  }
  
  /* code block changes */
  [class*="markup-"] pre {
      border: none !important;
      background: none !important;
  }
  
  code {
      background-color: var(--main-darkgray-color) !important;
      font-family: var(--code-font);
  }
  
  /* user hover on members bar */
  [class*="member-"].popout-open [class*="content-"],
  [class*="member-"].popout-open:hover [class*="content-"],
  [class*="member-"]:hover [class*="content-"] {
      background-color: var(--light-hover-color) !important;
  }
  
  /* dark msg background */
  [class*="messages-"] {
      background-color: var(--main-black-color) !important;
  }
  
  /* ~message box */
  form [class*="typing-"],
  [class|="chat-"] :last-child,
  [class*="chat-"] form,
  [class*="channelTextArea-"],
  [class*="channelTextArea-"] [class*="inner-"],
  .content-yTz4x3  /* Couldn't find a working selector here */
  {
      background-color: var(--main-black-color) !important;
  }
  
  /* hide gif button */
  [class*="channelTextArea-"] [class*="inner-"] [class*="buttonWrapper-"] {
      display: none !important;
  }
  
  /* hide gift button */
  [class*="channelTextArea-"] [class*="inner-"] [class*="buttonContainer-"] {
      display: none !important;
  }
  
  /* message right click */
  [class*="contextMenu-"] {
     background-color: var(--main-darkgray-color) !important;
  }
  
  /* "No game detected" */
  .user-settings-games .not-detected {
      background-color: var(--main-darkgray-color) !important;
  }
  
  /* nitro classic banner */
  [class*="tier1Banner-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  /* billing info */
  [class*="paymentSourceRow-"] button {
      background-color: var(--main-darkgray-color) !important;
  }
  
  [class*="paymentPane-"],
  [class*="payment-"],
  [class*="paymentPane-"] [class*="paginator-"] [class*="pageActions-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  [class*="expandedInfo-"] {
      background-color: var(--alt-black-color) !important;
  }
  
  [class*="paymentRow-"] {
      border-bottom: 1px solid var(--main-black-color) !important;
  }
  
  /* emoji autocomplete */
  [class*="autocomplete-"] {
     background-color: var(--main-darkgray-color) !important;
  }
  
  [class*="selectorSelected-"] {
     background-color: var(--light-hover-color) !important;
  }
  
  /* clyde */
  [class*="isLocalBot-"] {
      background-image: linear-gradient(90deg, var(--alt-black-color) 80%, var(--alt-black-color)) !important;
  }
  
  /* hide username and discrim on left corner 
  [class*="accountDetails-"][class*="nameTag-"] {
      display: none !important;
  }
  */
  
  /* upload modal */
  [class*="uploadModal-"] [class*="inner-"] {
      border: 2px dashed #555555;
  }
  
  [class*="uploadModal-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  [class*="uploadModal-"] [class*="footer-"] .button {
      background-color: var(--main-black-color) !important;
  }
  
  [class*="channelTextAreaUpload-"] [class*="inner-"] {
      background-color: var(--send-message-box-color) !important;
  }
  
  /* send message box */
  #channel-text-area-wrapper [class*="channelTextArea-"] [class*="inner-"] {
      background-color: var(--send-message-box-color) !important;
  }
  
  /* dimmer on search results during diversity selector */
  [class*="dimmer-"] [class*="visible-"] {
      background-color: hsla(0,0%,0%,.6) !important;
  }
  
  /* diversity selector itself */
  [class*="diversitySelector-"] [class*="popout-"] {
      background: var(--main-darkgray-color) !important;
      border: 1px solid var(--main-black-color) !important;
  }
  
  /* keyboard shortcuts */
  [class*="keyboardShortcutsModal-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  [class*="keybindShortcut-"] span {
      background-color: var(--alt-darkgray-color) !important;
      box-shadow: inset 0 -4px 0 rgba(20,19,22,.6) !important;
  }
  
  /* quick switcher (qs) */
  [class*="quickswitcher-"] {
      background-color: var(--main-black-color) !important;
  }
  
  /* qs input */
  [class*="quickswitcher-"] [class*="input-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  /* qs selected/hovered */
  [class*="resultFocused-"] {
      background-color: var(--light-hover-color) !important;
  }
  
  /* user notif background */
  .avatar-small a {
      background-color: var(--main-darkgray-color) !important;
  }
  
  /* members bar on right side */
  [class*="members-"] {
      background-color: var(--main-black-color) !important;
  }
  
  /* PM hover/selected colors */
  [class*="channel-"][class*="selected-"] a, /* currently active */
  [class*="channel-"]:hover a, /* hovered */
  [class*="selectedLink-"],
  .channel:hover a,
  [class*="contentHoveredText-"],
  [class*="contentHoveredVoice-"],
  [class*="contentSelectedText-"],
  [class*="contentSelectedVoice-"] {
      background-color: var(--light-hover-color) !important;
  }
  
  /* you're viewing older messages bar */
  [class*="jumpToPresentBar-"] {
      background-color: var(--jump-to-present-color) !important;
  }
  
  /* load more messages button */
  [class*="hasMore-"] button {
      background-color: var(--main-black-color) !important;
      border: 1px solid var(--main-darkgray-color) !important;
  }
  
  /* "x messages since y" bar */
  [class*="newMessagesBar-"] {
      background-color: var(--new-messages-color) !important;
  }
  
  /* scrollbar */
  .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece,
  [class^="messagesWrapper-"] .scroller-wrap ::-webkit-scrollbar-track-piece,
  [class*="scroller"]::-webkit-scrollbar-track,
  [class*="scroller"]::-webkit-scrollbar-track-piece,
  [class*="scroller"]::-webkit-scrollbar-thumb,
  [class*="scroller"]::-webkit-scrollbar-track,
  [class*="scroller"]::-webkit-scrollbar-track-piece {
      background-color: transparent !important;
      border: none !important;
  }
  
  [class*="scroller"]::-webkit-scrollbar-thumb {
      background-color: var(--alt-darkgray-color) !important;
      border: none !important;
      /*
      box-sizing: border-box;
      border: 1px solid var(--main-darkgray-color) !important;
      */
  }
  
  [class*="scroller-"] {
      /* padding-bottom: 0px !important; */
  }
  
  /* gif button */
  [class*="pickerButtons-"] [class*="buttonWrapper-"] {
      display: none !important;
  }
  
  /* ddr arrows on keyboard shortcuts modal, which are very ugly imo */
  [class*="ddrArrows-"] {
      display: none !important;
  }
  
  /* Hide social links */
  [class*="socialLinks-"] {
      display: none !important;
  }
  
  /* windows title bar, added by Cynthia */
  [class*="appMount-"] {
      background-color: var(--main-black-color) !important;
  }
  [class*="wordmark-"] {
      display:none !important;
  }
  [class*="titleBar-"] {
      margin-top: 0;
  }
  [class*="typeWindows-"] {
      height: 4px
  }
  [class*="winButton-"] {
      margin-top: 19px;
      margin-right: 5px;
  }
  [class*="app-"].platform-win [class*="headerBar-"] {
      padding-right: 100px;
  }
  
  [class*="winButtonClose-"] svg,
  [class*="winButtonMinMax-"] svg {
      display:none;
  }
  [class*="winButtonMinMax-"]:nth-child(4) {
      background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><g fill="none" fill-rule="evenodd"><path fill="#fff" d="M19 19v-2H7v2h12z"/><path d="M1 25h24V1H1v24z"/></g></svg>');
  }
  [class*="winButtonMinMax-"]:nth-child(3) {
      background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><g fill="none" fill-rule="evenodd"><path d="M1 1h24v24H1V1z"/><path fill="#fff" d="M8 13H6v7h7v-2H8v-5zm-2 0h2V8h5V6H6v7zm7 5v2h7v-7h-2v5h-5zm0-12v2h5v5h2V6h-7z"/></g></svg>');
  }
  [class*="winButtonClose-"] {
      background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><g fill="none" fill-rule="evenodd"><path d="M1 1h24v24H1V1z"/><path fill="#fff" d="M20 7.41L18.59 6 13 11.59 7.41 6 6 7.41 11.59 13 6 18.59 7.41 20 13 14.41 18.59 20 20 18.59 14.41 13 20 7.41z"/></g></svg>');
  }
  [class*="winButtonClose-"]:hover,
  [class*="winButtonMinMax-"]:hover {
      background-color:transparent;
  }
  
  /* shitty shit */
  /* activity page */
  [class*="headerBar-"],
  [class*="cardBody-"] {
      background-color: var(--main-black-color) !important;
  }
  
  [class*="feed-"] {
      background-color: var(--main-darkgray-color);
  }
  
  [class*="news-"] [class*="body-"] {
      background-color: transparent !important;
  }
  
  /* library */
  [class*="table-"],
  [class*="stickyHeader-"] {
      background-color: var(--main-black-color) !important;
  }
  
  [class*="scrollerStore-"] {
      background-color: var(--main-darkgray-color);
  }
  
  [class*="root-"] [class*="header-"] {
      background-color: transparent !important;
  }
  
  /* store */
  [class*="matureListing-"],
  [class*="whyYouMightLikeIt-"] {
      background-color: var(--main-black-color) !important;
  }
  
  [class*="premiumSubheader-"] {
      background-color: transparent !important;
  }
  
  /* friends */
  [class*="friendsTable-"] {
      background-color: var(--main-black-color) !important;
      margin-top: 0px !important;
  }
  
  /* blocked messages */
  [class*="messageGroupBlockedBtn-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  
  
  /* fixes */
  [class*="viewBody-"],
  [class*="bodyAlignCenter-"] {
      background-color: transparent !important;
  }
  
  [class*="searchAnswer-"] {
      background-color: var(--main-darkgray-color) !important;
  }
  